.vercel
.yalc
yalc.lock
.cache
.DS_Store
.idea
*.log
*.tgz
coverage
dist
lib-cov
logs
node_modules
temp
*.tsbuildinfo
.turbo
.temp
.svelte-kit
playwright-report
.env
.env*
.env*.local
.eslintcache
.eslintcacheapps
apps/trigger/.trigger
tmp/
.next
next-env.d.ts
*storybook.log
storybook-static
.kyoto
.postgres-data
.postgres