yarn.lock
pnpm-lock.yaml
package-lock.json
CHANGELOG.md
__nock-fixtures__
**/*.gen.*
migrations/**
.trigger
.next 
.cache
.DS_Store
.idea
*.log
*.tgz
coverage
dist
lib-cov
logs
node_modules
temp
dist-types
*.tsbuildinfo
apps/web/components/ui
next-env.d.ts
packages/db/migrations
